<!DOCTYPE html>
<html class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <title>{% block subtitle %} Search Channels {% endblock %} | {% block title %}Agnodyce{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/output.css">
    {% block stylesheets %}{% endblock %}
    <script src="/assets/scripts/axios.min.js"></script>
    {% block scripts %}{% endblock %}
</head>
<body class="flex flex-col h-full bg-gray-200">
<nav class="bg-red-700">
    <div class="container mx-auto justify-between flex flex-row">
        <div class="p-4 text-white no-underline">
            <a class="no-underline text-white" href="/">
                <h1 class="text-3xl font-semibold">{% block name %}Agnodyce{% endblock %}</h1>
                <span>{% block motto %}putting You back in Youtube{% endblock %}</span>
            </a>
        </div>
        <div class="hidden md:block">
            <img class="h-32" src="/assets/developed-with-youtube-lowercase-light.png" alt="developed with YouTube">
        </div>
    </div>
</nav>

<main class="container mx-auto py-5 flex-1">
    {% if error is defined %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 mb-4 rounded relative" role="alert">
            <strong class="font-bold">{{ error }}</strong>
        </div>
    {% endif %}
    {% block body %}
    {% endblock %}
</main>
{% block javascripts %}{% endblock %}
<footer class="w-full text-center border-t border-grey p-4 pin-b">
    <p>For support:<a class="text-blue-700 hover:underline" href="https://twitter.com/darkbelg">@Darkbelg</a> | <a class="text-blue-700 hover:underline" href="https://www.youtube.com/static?template=terms">Youtube TOS</a></p>
</footer>
</body>
</html>
