{% extends 'base.html.twig' %}

{% block scripts %}
    <script src="/assets/scripts/channel.js"></script>
{% endblock %}

{% block body %}

<label for="channel">Search: </label>
<input id="channel" name="channel" placeholder=" channel name"/>


{% endblock %}
